@font-face {
   font-family: 'Roboto-Light';
   src: local('Roboto'), local('Roboto-Light'), url('../fonts/roboto/Roboto-Light.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto-Regular';
   src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto-Bold';
   src: local('Roboto'), local('Roboto-Bold'), url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
}
@font-face {
   font-family: 'Roboto-Black';
   src: local('Roboto'), local('Roboto-Black'), url('../fonts/roboto/Roboto-Black.ttf') format('truetype');
}

@mixin font-family($family, $weight) {
  @if $family {
    font-family: $family, Helvetica, Arial, Verdana, sans-serif;
  } else {
    font-family: Helvetica, Arial, Verdana, sans-serif;
  }
  @if $weight { font-weight: $weight; }
}

@mixin font-light {
  @include font-family('Roboto-Light', 200);
}
@mixin font-regular {
  @include font-family('Roboto-Regular', 300);
}
@mixin font-bold {
  @include font-family('Roboto-Bold', 500);
}
@mixin font-black {
  @include font-family('Roboto-Black', 900);
}


//-------------------------------------------------------------------------------
// Variables
//-------------------------------------------------------------------------------

// Colors
$color-background   : rgb(25,25,25);
$color-text         : #f2ebe3;
$color-maverick     : #f2ebe3;
$color-tagline      : #f2ebe3;
$primary            : #17a2b8;
$secondary          : #b78846;
$accent             : #20c997;

// Breakpoints
$bp-smallish        : 1200px;
$bp-tablet          : 800px;
$bp-mobile          : 500px;

// Tooltip
$tt-width           : 100px;
$tt-triangle-height : 10px;
$tt-v-offset-start  : 12px;
$tt-v-offset-end    : 5px;
$tt-bg-color        : rgba(0, 0, 0, 0.5);
$tt-anim-duration   : 0s;
$tt-anim-delay      : .2s;
