//-------------------------------------------------------------------------------
// Fade In
//-------------------------------------------------------------------------------

@keyframes fadein {
    from { opacity: 0;}
    to   { opacity: 1;}
}

::-moz-selection {
  background: darken($secondary, 20%);
  -webkit-text-fill-color: #f2ebe3;
  color: #f2ebe3;
}
::selection {
  background: darken($secondary, 20%);
  -webkit-text-fill-color: #f2ebe3;
  color: #f2ebe3;
}
:root {
  font-size: 21px;
}

.split-bio p a[href^="http://"]:after, .split-bio li a[href^="http://"]:after,
.split-bio p a[href^="https://"]:after, .split-bio li a[href^="https://"]:after {
  content: "\ecaf";
  font-family: "remixicon";
  font-size: 80%;
  color: rgba($color-text, .5);
  padding-left: 0.3em;
  margin-top: -0.3em;
  height:  2em;
  vertical-align: top;
  display: inline-block;
}

//-------------------------------------------------------------------------------
// Content
//-------------------------------------------------------------------------------

html {
  background-color: $color-background;
  scrollbar-color: rgba($secondary, .5) rgba(0, 0, 0, .4);
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, .4);
}
::-webkit-scrollbar-thumb {
  background: rgba($secondary, .5);
}

body.page-template-page-fullsingle-split {
  background-color: $color-background;
  @include font-regular;
  font-size: 1rem;
  line-height: 33px;
  letter-spacing: -0.2px;
  color: $color-text;
  animation: fadein 2s;
  p {
    color: $color-text;
  }

}

//-------------------------------------------------------------------------------
// Sections and Columns
//-------------------------------------------------------------------------------
.fs-split {
  display: flex;
  height: 100vh;

  @media (max-width: $bp-tablet) {
    display: block;
  }

  .split-image {
    flex: 0 0 50%; /* flex-basis: 50% */

    span[class^="s-credit-"] {
      position: absolute;
      top: 0;
      left: 0;
      padding: .6em 1.3em .6em .7em;
      background: rgba($color-background, .7);
      color: $color-text;
      font-size: 60%;
      max-width: 1em;
      // transition: max-width .6s;
      // -webkit-transition: max-width .6s;
      white-space: nowrap;
      line-height: 20px;
      overflow: hidden;
      svg {
        height: 29px;
        margin-left: -5px;
        margin-top: -5px;
        position: absolute;
      }
      span.s-text-credit {
        color: $color-text;
        @include font-light;
        line-height: 0px;
        padding-left: 30px;
        a {
          color: $color-text;
          border-bottom: 1px dotted $color-text;
          &:hover {
            color: $secondary;
            border-bottom: 1px dotted $secondary;
          }
        }
        small {
          color: rgba($color-text, .5);
          padding: 0 .2em;
        }
      }
      &:hover {
        width: auto;
        max-width: 100%;
        color: $secondary;
        white-space: inherit;
      }
    }

  }

  .split-content {
    flex: 0 0 50%; /* flex-basis: 50% */
    padding: 2.4rem 2.4rem calc(2.4rem - 20px) 2.4rem;
    box-sizing: border-box;
    overflow-y: auto;
    scroll-behavior: smooth;

    @media (max-width: $bp-mobile) {
      padding: 2rem 1rem;
    }
  }
}

//-------------------------------------------------------------------------------
// Content
//-------------------------------------------------------------------------------
.split-content-vertically-center {
  max-width: 650px;
  margin: 0 auto;
}

//-------------------------------------------------------------------------------
// Intro Text
//-------------------------------------------------------------------------------

.split-intro {
  @include font-bold;
  // font-size: 3.048rem;
  line-height: 80px;
  letter-spacing: -2px;

  h1 {
    @include font-regular;
    text-transform: uppercase;
    font-size: 0.7619rem;
    line-height: 16px;
    margin-bottom: 40px;
    letter-spacing: 0.4px;
    color: $color-maverick;
  }

  .tagline {
    line-height: 1.25em;
    color: $color-tagline;
    font-weight: 900;
    letter-spacing: 1px;
    background: -moz-linear-gradient(left, $primary 0%, $accent 100%);
    background: -webkit-linear-gradient(left, $primary 0%, $accent 100%);
    background: linear-gradient(135deg, $primary, $accent);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17a2b8', endColorstr='#20c997',GradientType=1 );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media (min-width: $bp-smallish + 1px) {
      font-size: 3.74vw;
    }
    @media (max-width: $bp-smallish) {
      font-size: 3.6vw;
    }
    @media (max-width: $bp-smallish) {
      font-size: 2.429rem;
    }
    @media (max-width: $bp-mobile) {
      font-size: 1.9rem;
    }
  }
}

//-------------------------------------------------------------------------------
// Biography
//-------------------------------------------------------------------------------

.split-bio {
  padding: 30px 0 0 0;

  &.small-body-text {
    span.ltrText {
      unicode-bidi: bidi-override;
      direction: rtl;
      span.removeText {
        display: none;
        visibility: hidden;
      }
      span.addSeparatorAt::after {
        color: rgba($color-text, .5);
        content: " [TA] ";
        font-size: 80%;
      }
      span.addSeparatorDot::after {
        color: rgba($color-text, .5);
        content: " [TKNUP] ";
        font-size: 80%;
      }
    }
    p, ul li {
      font-size: 80%;
      line-height: 1.3em;
      @include font-light;
    }
    h2 {
      padding: 0;
      margin: 2em 0 .1em 0;
      &:first-of-type {
        margin: 0 0 .5em 0;
      }
    }
    h3 {
      padding: 0;
      margin: 1.5em 0 .1em 0;
      &:first-of-type {
        margin: 0 0 .5em 0;
      }
    }
  }

  p {
    color: $color-text;
    margin-bottom: 20px;
    line-height: inherit;
  }

  a {
    color: $secondary;
    transition-duration: 0.5s;
    border-bottom: 1px dotted $secondary;

    &:hover {
      color: $color-text;
      transition-duration: 0.1s;
      border-bottom: 1px dotted $color-text;
    }

  }

  em {
    font-style: italic;
    line-height: inherit;
  }

  strong,
  b {
    @include font-bold;
    line-height: inherit;
  }

  small {
    font-size: 80%;
    line-height: inherit;
    @include font-light;
    color: rgba($color-text, .5);
  }

  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    font-style: normal;
    color: inherit;
    @include font-bold;
  }

  h1 small, .h1 small,
  h2 small, .h2 small,
  h3 small, .h3 small,
  h4 small, .h4 small,
  h5 small, .h5 small,
  h6 small, .h6 small {
    line-height: 0;
    @include font-light;
  }

  h1, .h1, 
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    line-height: inherit;
    margin-top: 0;
    margin-bottom: 20px;
  }


  h1, .h1 {
    font-size: 1.5em;
  }

  h2, .h2 {
    font-size: 1.25em;
    color: $secondary;
  }

  h3, .h3 {
    font-size: 1.1875em;
  }

  h4, .h4 {
    font-size: 1.125em;
  }

  h5, .h5 {
    font-size: 1.0625em;
  }

  h6, .h6 {
    font-size: 1em;
  }

  ul,
  ol,
  dl {
    margin-bottom: 20px;
    list-style-position: outside;
    line-height: inherit;
    list-style-type: none;
  }

  li {
    font-size: inherit;
    list-style: none;
    position: relative;
    padding-left: .7em;
    margin-left: .1em;
    &::before {
      content: "■";
      font-weight: 600;
      position: absolute;
      font-size: 0.6em;
      color: $primary;
      top: -2px;
      left: -2px;
    }
  }

  ul li ul li {
    font-size: 80%;
    @include font-light;
    line-height: 1.4;
    color: rgba($color-text, .5);
    list-style: none;
    &::before {
      top: 0.5em;
      color: darken($primary, 15%);
      font-size: .5em;
      left: 0px;
    }
    a {
      color: $secondary;
    }
  }

  ul {
    margin-left: 0.02em;
  }

  ol {
    margin-left: 2.25em;
    list-style-type: decimal;
  }

  ul ul, ol ul, ul ol, ol ol {
    margin-left: .3em;
    margin-bottom: 0;
  }

  dl dt {
    margin-bottom: 10px;
    @include font-bold;
  }

  dl dd {
    margin-bottom: 10px;
  }

  a.back-button {
    color: $color-text;
    border: 1px solid rgba($secondary, .8);
    padding: .15em .6em;
    border-radius: 5px;
    margin-top: 1em;
    display: inline-block;
    opacity: .7;
    &:hover {
      opacity: 1;
      background-color: rgba($secondary, .1);
      border: 1px solid rgba($secondary, 1);
    }
  }

  .spotify-overlay {
    // background: url("/images/spotify-overlay.png") no-repeat;
    height: 80px;
    width: 300px;
    display: block;
    padding-top: .4em;
    background-color: $color-background;
    cursor: pointer;
    @media (max-width: 388px ) {
      width: 80px;
      overflow: hidden;
    }
    @media (min-width: 800px) and (max-width: 868px) {
      width: 80px;
      overflow: hidden;
    }
  }
}

//-------------------------------------------------------------------------------
// Lists
//-------------------------------------------------------------------------------

.split-lists {
  margin: 2.2em 0 calc(2.2em - 20px) -12px;

  ul.icons {
    list-style-type: none;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;

    .round-icons {
      margin-left: -5px;
    }
    &:hover li {
      opacity: 0.2;
    }

    li {
      display: inline-block;
      transition-duration: 0.2s;
      width: 50px;
      height: 50px;
      // border: 1px solid red;
    
      @media (min-width: 1288px) {
        flex-grow: 1;
      }

      &:hover  {
        opacity: 1;
      }
      a {
        color: darken($secondary, 20%);
        transition-duration: .2s;
        width: 100%;
        height: 100%;
        // border: 1px solid orange;

        display: flex;
        justify-content: center;
        align-content: center;

        &:hover {
          opacity: 1;
        }
        i {
          margin: auto;
        }
        i:nth-of-type(2) {
          color: $color-background;
          font-size: 1.429rem;
        }
      }
    }


    .tooltip {
      position: relative;
      box-sizing: border-box;

      &:after, &:before {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        left: calc(50% - 10px);
        bottom: 55%;
        box-sizing: border-box;
      }
      &:after {
        content: attr(data-tooltip);
        background: $tt-bg-color;
        margin-bottom: $tt-triangle-height + $tt-v-offset-start;
        padding: 10px;
        color: $color-text;
        font-size: 80%;
        @include font-light;
        line-height: 1;
        width: $tt-width;
        margin-left: ($tt-width / -2.3);
        border-radius: 4px;
        text-align: center;
        height: auto;
      }
      &:before {
        content: "";
        margin-bottom: $tt-v-offset-start;
        margin-right: ($tt-triangle-height / -2);
        border-right: $tt-triangle-height solid transparent;
        border-left: $tt-triangle-height solid transparent;
        border-top: $tt-triangle-height solid $tt-bg-color;
      }
      &:hover {
        &:after, &:before {
          transition: all $tt-anim-duration ease $tt-anim-delay;
          visibility: visible;
          opacity: 1;
        }
        &:after {
          margin-top: $tt-v-offset-end + $tt-triangle-height;
        }
        &:before {
          margin-top: $tt-v-offset-end;
        }
      }
    }
  }


  .split-list {
    width: 30%;
    display: inline-block;
    margin-bottom: 40px;
    vertical-align: top;

    @media (max-width: $bp-mobile ) {
      width: 90%;
    }

    h3 {
      text-transform: uppercase;
      font-size: 0.5238rem;
      line-height: 11px;
      margin-bottom: 31px;
      color: $color-text;
      letter-spacing: 2px;
      opacity: 0.5;
    }

    ul {

      li {
        font-size: 0.7619rem;
        line-height: 16px;
        margin-bottom: 12px;

        a {
          color: $color-text;
          transition-duration: 0.5s;

          &:hover {
            color: $secondary;
            transition-duration: 0.1s;
          }

          i {
            padding: 0 0.3em 0.3rem 0;
            font-size: 0.9em;
            opacity: 0.5;
          }

        }

      }

    }

  }

}

//-------------------------------------------------------------------------------
// Credit
//-------------------------------------------------------------------------------

//  To edit this credit you can remove the CC3.0 license for only $5 here: https://onepagelove.com/split
//  this really helps contribute towards us developing more templates and means the world to me!
//  Cheers, Rob (@robhope)

.split-credit {
  height: 50px;

  p {
    font-size: 0.5714rem;
    line-height: 14px;
    @include font-light;
    height: 100%;

    span {

      & a {
        vertical-align: middle;
        height: 100%;
        display: inline-flex;
        align-items: center;
      }

      &.split-copyright {
        color: rgba($color-text, .5);
        &:after {
          content: " | ";
          font-size: 0.8571rem;
          color: rgba($color-text, .2);
        }
        .split-copyright-config:before  {
          content: " | ";
          font-size: 0.8571rem;
          color: rgba($color-text, .2);
        }
      }

      &.split-languages {
        opacity: .5;
        padding: 0;
        img {
          height: 13px;
          width: 17px;
          border: 1px solid rgba($color-text, .5);
        }
        &:hover {
          opacity: 1;
        }
      }

      &.footer-menu {
        & a {
          color: $secondary;
          transition-duration: 0.5s;
          display: contents;
          &::before {
            color: $color-text;
            opacity: 1;
          }
        }

        & a::before,
        & .active:before {
          content: " | ";
          font-size: 0.8571rem;
          color: rgba($color-text, .2);
        }
      }
    }
  }
}

//-------------------------------------------------------------------------------
// Videos - shout out to my bud https://twitter.com/manuelmoreale for the Ninja skills
//-------------------------------------------------------------------------------

// YouTube
.split-video {
  overflow:hidden;
  position:relative;
}
.video-wrap{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.video-container {
  position:relative;
  overflow:hidden;
  height: 56.25vw;
  width: 100vw;
  @media (max-aspect-ratio:16/9) {
    height: 100vh;
    width: 177.7777777778vh; // this is for the ration 16:9
  }
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Self-Hosted

video.video {
  object-fit      : cover;
  object-position : 50% 50%;
  width           : 100%;
  height          : 100%;
}


a#back-to-top-button {
  display: inline-block;
  background-color: darken($secondary, 10%);
  width: 30px;
  height: 30px;
  text-align: center;
  position: fixed;
  bottom: 1.5em;
  right: 1.5em;
  border: 1px solid $secondary;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 1;
  visibility: visible;
  z-index: 1000;
  transition: opacity .5s, visibility .5s;
  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
  svg path {
    fill: $color-text;
  }
  &:hover {
    cursor: pointer;
    background-color: $color-background;
  }
  &:active {
    background-color: $color-background;
  }
}
