<div class="split-credit">
  <p>
    <span class="split-copyright">&copy; 2018 - {{ dateFormat "2006" now }}
      <span class="split-copyright-config">{{ .Site.Copyright | safeHTML }}</span>
    </span>
    {{ $currentPage := . }}
    <span class="split-languages" role="navigation">
      {{ if .IsTranslated }}
        {{ range .Translations }}
          <a href="{{ .Permalink }}" title='{{ i18n "language_title" }} "{{ .Language.LanguageName }}"'>
            {{ if not (eq .Language $.Language) }}
              <img src="{{ .Site.Params.flag_file }}" alt="{{ .Language.LanguageName }} Image" />
            {{ end }}
          </a>
        {{ end }}
      {{ else }}
        {{ range $.Site.Home.AllTranslations }}
          <a href="{{ .Permalink }}" title="{{ .Site.Params.flag_title }} '{{ .Language.LanguageName }}'">
            {{ if not (eq .Language $.Language) }}
              <img src="{{ .Site.Params.flag_file }}" alt="{{ .Language.LanguageName }} Image" />
            {{ end }}
          </a>
        {{ end }}
      {{ end }}
    </span>
    <span class="footer-menu" role="navigation">
      {{ range .Site.Menus.footer }}
        {{ if eq $currentPage.RelPermalink .URL }}
          <span class="active">{{ .Name }}</span>
        {{ else }}
          <a href="{{ .URL | relLangURL }}" title="{{ .Name }}">{{ .Name }}</a>
        {{ end }}
      {{ end }}
    </span>
  </p>
</div>
