<div class="split-credit">
  <p>
    &copy; 2018 - {{ dateFormat "2006" now }} {{ .Site.Copyright | safeHTML }}
    <span class="split-languages">
      {{ range $.Site.Home.AllTranslations }}<a href="{{ .Permalink }}">{{ .Language.LanguageName }} </a>{{ end }}
    </span>
  </p>



  {{ "<!--" | safeHTML }}
  {{ "To edit this credit you can remove the CC3.0 license for only $5 here: https://onepagelove.com/split" | safeHTML }}
  {{ "this really helps contribute towards us developing more templates and means the world to me!" | safeHTML }}
  {{ "Cheers, Rob (@robhope)" | safeHTML }}
  {{ "-->" | safeHTML }}
</div>
