<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<base href="{{ .Site.BaseURL }}">

<!-- \SEO -->
<title>{{ if .IsPage }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
{{ with .Params.author }}<meta name="author" content="{{ . }}" />{{ end }}
{{ with .Site.Params.description }}<meta name="description" content="{{ . }}" />{{ end }}
{{ with .Site.Params.keywords }}<meta name="keywords" content="{{ . }}" />{{ end }}
<!-- <meta name="robots" content="index, follow" /> -->
{{ with .Params.robotsdisallow }}
  <meta name="robots" content="noindex, nofollow, noarchive">
{{ else }}
  <meta name="robots" content="index, follow, archive">
{{ end }}
<meta name="referrer" content="always" />

<!-- Social & Open Graph -->
<meta property="og:title" content="{{ if .IsPage }}{{ .Title }} - {{ end }}{{ .Site.Title }}" />
{{ with .Site.Params.description }}<meta property="og:description" content="{{ . }}" />{{ end }}
<meta property="og:url" content="{{ .Site.BaseURL }}" />
{{ with .Site.Params.shareImage }}
  <meta property="og:image" content="{{ . | absURL }}" />
  <meta name="twitter:card" content="summary_large_image" />
{{ end }}
{{ with .Params.twitterHandle }}<meta name="twitter:site" content="@{{ . }}" />{{ end }}

<!-- Google Chrome -->
<meta name="theme-color" content="#191919">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#191919">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#191919">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
<link rel="manifest" href="images/favicon/site.webmanifest">
<link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#b78846">
<meta name="msapplication-TileColor" content="#b78846">

<!-- Styles -->
{{ $sass := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "style.scss" . }}
{{ $style := $sass | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

<!-- Scripts (JS in the footer -> baseof.html -->
{{/*  {{ $jQuery := resources.Get "js/jquery-3.7.1.js" }}
{{ $script := $jQuery | resources.Minify | resources.Fingerprint }}
<script src="{{ $script.Permalink }}"></script>  */}}
<meta name="viewport" content="width=device-width,initial-scale=1" />

<link type="text/plain" rel="author" href="humans.{{ .Site.Language }}.txt" />

<!-- Google Analytics -->
{{ if and (.Site.GoogleAnalytics) (not (in (printf "%#v" .Site.BaseURL) "localhost")) }}
  {{ template "_internal/google_analytics.html" . }}
{{ end }}
