<div class="split-lists">

  {{ if not (.Site.Params.list_type.icons) }}

    {{ range $key, $value := .Site.Params.links }}
      {{ range $key, $list := $value }}

      {{ if $list.link }}
        <div class="split-list">
          <h3>{{ $list.heading }}</h3>
          <ul>
            {{ range $list.link }}
              <li><a href="{{ .url }}" target="_blank">
                {{ if isset . "icon" }}<i class="{{.icon}} fa-lg fa-fw" {{ if (not $.Site.Params.list_type.hover_color) }} style="color:{{.color}}" {{ end }}></i>{{ end }}{{ .text | safeHTML }}
              </a></li>
            {{ end }}
          </ul>
        </div>
      {{ end }}

      {{ end }}
    {{ end }}

  {{ else if .Site.Params.list_type.icons }}

    <ul class="icons">
      {{ range $key, $value := .Site.Params.links }}
        {{ range $key, $list := $value }}
          {{ range $list.link }}

            <li class="info">
              <a href="{{.url}}" target="_blank" class="tooltip" data-tooltip="{{.text}}">
                {{ if $.Site.Params.list_type.round_icons }}
                  <span class="round-icons fa-stack">
                    <i class="fas fa-circle fa-stack-2x {{ .text }}" {{ if (not $.Site.Params.list_type.hover_color) }} style="color:{{.color}}" {{ end }}></i>
                    <i class="{{.icon}} fa-stack-1x"></i>
                  </span>
                {{ else }}
                  <i class="{{.icon}} fa-lg fa-fw {{ .text }}" {{ if (not $.Site.Params.list_type.hover_color) }} style="color:{{.color}}" {{ end }}></i>
                {{ end }}
              </a>
            </li>
          {{ end }}
        {{ end }}
      {{ end }}
    </ul>
  {{ end }}

</div>
