{{ $list := (.Site.Params.visual.image.file) }}
{{ $len := (len $list) }}

<div class="split-image">
  <div class="s-wrap" id="image-slider" role="slider" aria-label="Slider image" aria-valuenow="{{ $len }}" aria-valuemin="1" aria-valuemax="{{ $len }}">
    {{ $len := (len .Site.Params.visual.image.file) }}
    {{ range $index, $value := .Site.Params.visual.image.file }}
      {{ $index :=add $index 1 }}

      {{ if not (eq $len 1) }}
        <input type="radio" id="s-{{ $index }}" name="slider-control" {{ if eq $index 1 }}checked="checked"{{ end }} />
      {{ end }}
    {{ end }}
    <ul class="s-content">

      range $image := sort (.Page.Resources.ByType "image") ".Params.year" "desc"
      
      {{ range $index, $value := sort (resources.Match "images/slider/*.webp") ".Params.weight" "asc" }}
        <li class="s-item s-item-{{ $index }}">{{ $value.Params.weight }}
          <img src="{{ $value.RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="" style="
            background-size: {{ if .Params.visual.image.size }}{{ .Params.visual.image.size }}{{ else }}cover{{ end }};
            background-position: {{ if .Params.visual.image.position }}{{ .Params.visual.image.position }}{{ else }}center center{{ end }};
          ">
        </li>
      {{ end }}
    </ul>

    {{ if not (eq $len 1) }}
      <div class="s-control">
        {{ range $index, $value := .Site.Params.visual.image.file }}
          {{ $index :=add $index 1 }}
          <label class="s-c-{{ $index }}" for="s-{{ $index }}"></label>
        {{ end }}
      </div>

      <div class="s-nav">
        {{ range $index, $value := $list }}
          {{ $index :=add $index 1 }}
          {{ if eq $index 1 }}
            <label class="s-nav-{{ $index }} right" for="s-{{ add $index 1 }}">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z" fill="currentColor"></path></svg>
            </label>
          {{ else if (eq $index $len) }}
            <label class="s-nav-{{ $index }} left" for="s-{{ add $index -1 }}">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10.8284 12.0007L15.7782 16.9504L14.364 18.3646L8 12.0007L14.364 5.63672L15.7782 7.05093L10.8284 12.0007Z" fill="currentColor"></path></svg>
            </label>
          {{ else }}
            <label class="s-nav-{{ $index }} left" for="s-{{ add $index -1 }}">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10.8284 12.0007L15.7782 16.9504L14.364 18.3646L8 12.0007L14.364 5.63672L15.7782 7.05093L10.8284 12.0007Z" fill="currentColor"></path></svg>
            </label>
            <label class="s-nav-{{ $index }} right" for="s-{{ add $index 1 }}">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z" fill="currentColor"></path></svg>
            </label>
          {{ end }}
        {{ end }}
      </div>
    {{ end }}


  {{ range $index, $value := .Site.Params.visual.image.file }}
    {{ if isset . "credit" }}
      <span class="s-credit-{{ add $index 1 }}">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM11 7H13V9H11V7ZM11 11H13V17H11V11Z" fill="currentColor"></path></svg>
        <span class="s-text-credit">{{ .credit | safeHTML }}</span>
      </span>
    {{ end }}
  {{ end }}

  </div>

</div>
