<!DOCTYPE html>
<html lang="{{ .Site.Language | default "en-us" }}">

<head>
  {{ partial "head" . }}
</head>

<body id="fullsingle" class="page-template-page-fullsingle-split">

  <div class="fs-split" id="back-to-top">

    {{ if .Site.Params.visual.image.enable }}

      {{ partial "image" . }}

    {{ else if .Site.Params.visual.video.enable }}

      {{ partial "video" . }}

    {{ end }}

    <!-- Content Side -->
    <div class="split-content" id="mainContent">
      <div class="split-content-vertically-center" id="back-to-top">
        {{ if not (eq .RelPermalink "404.html") }}
          {{ partial "intro" . }}
        {{ end }}

        {{ block "main" .  }}
          {{ partial "bio" . }}
        {{ end }}

        {{ partial "footer" . }}
      </div>

      <a  id="back-to-top-button" class=""></a>
    </div>

  </div>

</body>
</html>
