<!DOCTYPE html>
<html lang="{{ .Site.Language | default "en-us" }}">

<head>
  {{ partial "head" . }}
</head>

<body>

  <div class="container">

    <!-- Links -->
    {{ partial "links" . }}

    <main>

      {{ if not (eq .RelPermalink "404.html") }}
        <header>
          <img src="{{ .Site.Params.profile }}" />

          {{ with .Title }}<h1>{{ . }}</h1>{{ end }}
        </header>
      {{ end }}

      {{ block "main" .  }}{{ end }}


      <footer>{{ partial "footer" . }}</footer>

    </main>
  </div>

</body>

{{ $js := resources.Get "js/main.js" }}
{{ $script := $js | resources.Minify | resources.Fingerprint }}
<script src="{{ $script.Permalink }}"></script>

</html>
