<div class="pieChart">
  <div class="pie-wrapper">
    <div class="pieID pie"></div>
  </div>
  <div class="ul-wrapper">
    <ul class="pieID legend-header">
      <li>
        <em>{{ i18n "pieChart_header_1" }}</em>
        <span>{{ i18n "pieChart_header_2" | safeHTML }}</span>
      </li>
    </ul>
    <ul class="pieID legend">

      {{ range $key, $e := $.Site.Data.genres }}
        {{ if ne $.Site.LanguagePrefix "" }}
          {{ $.Scratch.Set "lang" (print "." (replace $.Site.LanguagePrefix "/" "")) }}
          {{ if in (printf $key) ($.Scratch.Get "lang") }}
            {{ with $e }}
              <li>
                <em>{{ .Genre }}</em>
                <span>{{ .Number }}</span>
              </li>
            {{ end }}
          {{ end }}
        {{ else }}
          {{ if or (not (in $key ".")) (in $key (print "." $.Site.Language.Lang)) }}
            {{ with $e }}
              <li>
                <em>{{ .Genre }}</em>
                <span>{{ .Number }}</span>
              </li>
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}




    </ul>
  </div>
</div>
