<div class="pieChart">
    <div class="pie-wrapper">
      <div class="pieID pie"></div>
    </div>
    <div class="ul-wrapper">
        <ul class="pieID legend-header">
          <li>
            <em>{{ i18n "pieChart_header_1" }}</em>
            <span>{{ i18n "pieChart_header_2" | safeHTML }}</span>
          </li>
        </ul>
        <ul class="pieID legend">
          <li>
            <em>{{ i18n "pieChart_drama" }}</em>
            <span>143</span>
          </li>
          <li>
            <em>{{ i18n "pieChart_scienceFiction" }}</em>
            <span>89</span>
          </li>
          <li>
            <em>{{ i18n "pieChart_fantasy" }}</em>
            <span>89</span>
          </li>
          <li>
            <em>{{ i18n "pieChart_comedy" }}</em>
            <span>45</span>
          </li>
          <li>
            <em>{{ i18n "pieChart_action" }}</em>
            <span>42</span>
          </li>
          <li>
            <em>{{ i18n "pieChart_mysterie" }}</em>
            <span>18</span>
          </li>
          <li>
            <em>{{ i18n "pieChart_crime" }}</em>
            <span>8</span>
          </li>
          <li>
            <em>{{ i18n "pieChart_thriller" }}</em>
            <span>3</span>
          </li>
        </ul>
    </div>
</div>

<script>
  createPie(".pieID.legend", ".pieID.pie");
</script>
