<div class="movie-wrapper">


  {{ range $key, $e := $.Site.Data.movies }}
    {{ if ne $.Site.LanguagePrefix "" }}
      {{ $.Scratch.Set "lang" (print "." (replace $.Site.LanguagePrefix "/" "")) }}
      {{ if in (printf $key) ($.Scratch.Get "lang") }}
        {{ with $e }}
          {{ partial "movie.html" . }}
        {{ end }}
      {{ end }}
    {{ else }}
      {{ if or (not (in $key ".")) (in $key (print "." $.Site.Language.Lang)) }}
        {{ with $e }}
          {{ partial "movie.html" . }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
</div>
