<div class="spotify-overlay" id="remove-img">
  <img id="overlay-img" src="images/spotify-overlay.png" alt="Spotify Overlay" width="300" height="80" />
</div>

<div id="spotifyModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">

    <div class="modal-header">
      <i class="ri-information-line"></i>
      <h3>{{ "modalHeader" | i18n }}</h3>
    </div>
    <div class="modal-body">
      <p>{{ i18n "modalBody" | safeHTML }}</p>
    </div>

    <div class="modal-footer">
        <span class="button-modal" id="accept">{{ "accept" | i18n }}</span>
        <span class="button-modal" id="abort">{{ "abort" | i18n }}</span>
    </div>
  </div>
</div>
