<div class="spotify-overlay" id="remove-img">
  <img id="overlay-img" src="images/spotify-overlay.png" alt="Spotify Overlay" width="300" height="80" />
</div>

<noscript>
  <div class="noscript">
    ... text ...
  </div>
</noscript>

<div id="spotifyModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">

    <div class="modal-header">
      <i class="fas fa-info-circle fa-2x fa-pull-left"></i>
      <h3>{{ "modalHeader" | i18n }}</h3>
    </div>
    <div class="modal-body">
      <p>{{ i18n "modalBody" | safeHTML }}</p>
    </div>

    <div class="modal-footer">
        <span class="button-modal" id="accept">{{ "accept" | i18n }}</span>
        <span class="button-modal" id="abort">{{ "abort" | i18n }}</span>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    if ($('img#overlay-img').length) {
      $("#remove-img").on("click", function() {
        $("#spotifyModal").css("display", "block");
      });
    };

    $("#accept").on("click", function() {
      $("#spotifyModal").css("display", "none");
      removeOverlay();
      setCookie("spotifyWidget", "true", 13);
    });

    $("#abort").on("click", function() {
      $("#spotifyModal").css("display", "none");
    });

    // When the user clicks anywhere outside of the modal, close it
    $("body").on("click", function(event) {
      if (event.target == $("#spotifyModal").get(0) ) {
        $("#spotifyModal").css("display", "none");
      }
    });
  });

  function removeOverlay() {
    if ($('img#overlay-img').length) {
      $("img#overlay-img").remove;
    }

    if ($('#remove-img').length) {
      if (window.innerWidth > 800 && window.innerWidth < 868) {
        document.getElementById('remove-img').innerHTML =
        '<iframe src="{{ .Site.Params.spotifyPlaylist }}" width="80" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>';
      } else if (window.innerWidth > 388) {
        document.getElementById('remove-img').innerHTML =
        '<iframe src="{{ .Site.Params.spotifyPlaylist }}" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>';
      } else {
        document.getElementById('remove-img').innerHTML =
        '<iframe src="{{ .Site.Params.spotifyPlaylist }}" width="80" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>';
      }
    }
  };
</script>
